
	<div id="main">
		<div id="subtab-nav">
			<ul><!-- class="subnav secondlevel"-->
				<li id="t-roundmain" class="selected"><a href="">Main</a></li>
				<li><a href="">Find Rounds</a></li>
			</ul>
		</div>
		<div id="detail-nav">
			<ul class="clear">
				<li><%= link_to "New Round", new_player_round_path(@user_id) %></li> 
				<%# new_player_round GET  /players/:player_id/rounds/new   {:controller=>"rounds", :action=>"new"} %>
				<li><a href="">Last 5 Rounds</a></li>
				<li><a href="">[Star] Rounds</a></li>
				<li><a href="">Find Round: [box]</a></li>
				<li><a href="">Best Rounds: [box]</a></li>
			</ul>
		</div>
		<div id="flashes"></div>
		<div id="page-top"></div>
		<div id="main-content"></div>
  </div>
	

<div style="clear:left;"></div>
<p><h1>Rounds#index</h1>Find me in app/views/rounds/index.html.erb</p>
