
	<div id="main">
		<div id="subtab-nav">
			<ul><!-- class="subnav secondlevel"-->
				<li id="t-roundmain" class="selected"><a href="">Main</a></li>
				<li><a href="">Filter Rounds</a></li>
			</ul>
		</div>
		<div id="detail-nav">
			<ul class="clear">
				<li><a href="">New Round</a></li>
				<li><a href="">Last 10 rounds</a></li>
				<li><a href="">New Goal</a></li>
				<li><a href="">New page</a></li>
			</ul>
		</div>
		<div id="flashes"></div>
		<div id="page-top"></div>
		<div id="main-content"></div>
  </div>
	

<div style="clear:left;"></div>
<p><h1>Rounds#index</h1>Find me in app/views/rounds/index.html.erb</p>
