
<div id="topright" style="float:right;">
  <span><a href="../store/invite_friends.cfm">Invite Friends</a></span> |
  <span><a href="../logout.cfm">Logout</a></span>
</div>

<div style="float:right;padding-bottom:0px;"><!-- <img src="logo.gif"> --></div>
<div style="border-bottom: 1px solid #DDD; clear:both;"></div>

<div id="nav" style="min-width:820px;padding-top:3px;">
<ul style="text-align:center;">
  <li id="t-group">
		<!-- <a href="major.cfm"><div>Home</div></a> --> 
		<%= link_to "<div>Home</div>", player_path(@user_id) %> 
	</li> <%# <a href="group.cfm"><div>My Group's</div><div>Leaderboard</div></a> %>
  <li id="t-major">
	  <a href="major.cfm"><div>My Stats</div></a><%# link_to "<div>My Stats</div>", member_group_path(@group_id) %>
	</li>
  <li id="t-major">
	  <a href="major.cfm"><div>News</div></a></li><%# link_to "<div>News</div>", member_group_path(@group_id) %>
  <li id="t-message">
	  <a href="message.cfm"><div>Courses</div></a></li><%# link_to "<div>Courses</div>", member_group_path(@group_id) %>
  <li id="t-photos">
	  <a href="photos.cfm"><div>Photos</div></a></li><%# link_to "<div>Photos</div>", member_group_path(@group_id) %>
  <li id="t-home">
	  <a href="home.cfm"><div>Tournaments</div></a></li><%# link_to "<div>Tournaments</div>", member_group_path(@group_id) %>
	<li id="t-home">
		<a href="home.cfm"><div>Equipment</div></a></li><%# link_to "<div>Equipment</div>", member_group_path(@group_id) %>
	<li id="t-settings">
		<a href="settings.cfm"><div>My Settings</div></a></li><%# link_to "<div>My Settings</div>", member_group_path(@group_id) %>
	<%# if session id = 1 (me) %>
	<li id="t-admin">
		<a href="admin.cfm"><div>Admin</div></a></li><%# link_to "<div>Admin</div>", member_group_path(@group_id) %>
</ul>
</div>
<div id="poweredby" style="float:right;">
  <span>powered by <a href="http://www.golfap.com/news">golfap.com</a></span>
</div>
<br style="clear:left;">		

<!-- page content below... -->

